:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --accent-color: #2196f3;
  --accent-text-color: aqua;
}
body {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-start {
  color: #2196f3;
}
.logo-end {
  color: #000000;
}

.footer-link:hover,
.footer-link:focus,
.address-link:hover,
.address-link:focus {
  color: #2196f3;
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.hero-btn,
.portfolio-btn {
  cursor: pointer;
}

/* -- Header----*/
.header {
  background: #ffffff;
}

.header-item .header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-item .header-link:hover,
.header-item .header-link:focus {
  color: #2196f3;
}
.header-list .header-link.current {
  color: var(--accent-color);
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
/*--- Кнопка - HERO ---*/
.hero {
  background: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.34;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
}

.hero-btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
/*-- Переваги компанії --SPECIALITY --*/
.speciality-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.speciality-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*--Чим займається компанія--*/
/*--Команда компанії--*/
.team {
  background: #f5f4fa;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/*-- FOOTER-- Адрес і контакти*/
.footer {
  background: #2f303a;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.address {
  font-style: normal;
}
.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*------- PORTFOLIO------*/
.portfolio-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.portfolio-btn:hover {
  color: #ffffff;
  background: #2196f3;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
